# [defaults]
ANSIBLE_GATHERING=smart
ANSIBLE_TRANSPORT=smart
ANSIBLE_LOG_PATH=/var/log/ansible/ansible.log
ANSIBLE_TIMEOUT=30

# [ssh_connection]
ANSIBLE_SSH_ARGS="-o ControlMaster=auto -o ControlPersist=300s"
ANSIBLE_SSH_PIPELINING=True

ANSIBLE_VAULT_PASSWORD_FILE="/workspace/.devcontainer/ansible/vault_pass.sh"
ANSIBLE_VAULT_PASSWORD=
